.hidden {
  display: none;
}

.container {
  max-width: 992px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col,
.col-half {
  flex-basis: 100%;
}

.col-third {
  flex-basis: calc(100% / 3);
}
