
.justify-center {
  display: flex;
  justify-content: center;
}

.align-center {
  display: flex;
  align-content: center;
}

.nav-bar {
  background-color: #344966;
  height: 90px;
  display: flex;
  align-items: flex-end;
  padding: 0 20px 10px;
  justify-content: space-between;
  color: #f0f4ef;
}

h1 {
  font-weight: 400;
}

.nav-bar h1 {
  margin: 0;
}

.nav-bar img {
  max-width: 32px;
}

.nav-toggle {
  color: #344966;
  padding: 4rem 0;
  height: 100%;
  width: 0;
  z-index: 1;
  top: 0;
  left: 0;
  margin: 0;
  position: fixed;
  overflow-x: hidden;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
  background-color: #f0f4ef;
  transition: width 0.25s;
}

.show-menu {
  width: 350px;
}

.nav-list {
  list-style: none;
  text-align: center;
}

.close-nav {
  position: absolute;
  top: 40px;
  left: 20px;
}

.nav-list > li {
  margin: 1rem 0;
}

.nav-list > li::after {
  display: block;
  content: '';
  margin: 1rem 0;
  border-bottom: solid 3px #e275b7;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.nav-list > li:hover::after {
  transform: scaleX(1);
}

.nav-item > a {
  text-decoration: none;
  font-size: 36px;
  margin: 2rem 0;
  text-align: right;
}

.nav-item > a:visited {
  color: #344966;
}

.home-text {
  font-size: 36px;
  text-align: center;
  margin: 0 2rem;
  padding: 0 2rem 2rem;
}

button:hover {
  cursor: pointer;
}

.search-btn {
  padding: 10px 30px;
  background-color: #e275b7;
  color: #344966;
  border-radius: 50px;
  border: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 24px;
  transition: background-color 0.25s;
}

.search-btn:hover {
  background-color: #a3668b;
}

.search-btn img {
  width: 24px;
  position: relative;
  top: 5px;
  margin-right: 10px;
}

[data-view="home"] {
  transform: translateY(150%);
}
